<div class=" tab d-flex">
    <h1 class="alignment title align-items-center d-flex">RESTAURANT</h1>
    <div class="button align-items-center d-flex">
        <a routerLink="/home" class="me-2">Home</a>
        <a routerLink="/menu">Menu</a>
        <button class="me-2 btn btn-light">Locations</button>
        <button class="me-2 btn btn-light"> About us</button>
        <button class="me-2 btn btn-light">Contact</button>
    </div>
    <div class="align-items-center d-flex">
      
            <a routerLink="/login" class="me-3">Login</a>
      
            <a routerLink="/register" >Signup</a>
    </div>
</div>
<router-outlet>
       
</router-outlet>
