

  <div class=" tab d-flex">
    <h1 class="alignment title align-items-center d-flex">RESTAURANT</h1>
    <div class="button align-items-center d-flex">
        <a routerLink="/home" class="me-2  " style="text-decoration: none;color:black">Home</a>
        <a routerLink="/menu" class="me-2 " style="text-decoration: none;color:black">Menu</a>
        <a routerLink="/location" class="me-2 " style="text-decoration: none;color:black">Locations</a>
        <a routerLink= "/about" class="me-2 " style="text-decoration: none;color:black"> About us</a>
        <a routerLink="/contact" class="me-2 " style="text-decoration: none;color:black">Contact</a>
    </div>
    <div class="align-items-center d-flex align">
      
            <a routerLink="/login" class="me-3 " style="text-decoration: none;color:black">Login</a>
      
            <a routerLink="/register" style="text-decoration: none;color:black"  >Signup</a>
    </div>

    
</div>
<router-outlet>
       
</router-outlet>







