<!-- <div class="image"> -->
  <div class=" tab d-flex">
    <h1 class="alignment title align-items-center d-flex">RESTAURANT</h1>
    <div class="button align-items-center d-flex">
        <a routerLink="/home" class="me-2  btn btn-light">Home</a>
        <a routerLink="/menu" class=" btn btn-light">Menu</a>
        <a routerLink="/location" class="me-2 btn btn-light">Locations</a>
        <a routerLink= "/about" class="me-2 btn btn-light"> About us</a>
        <a routerLink="/contact" class="me-2 btn btn-light">Contact</a>
    </div>
    <div class="align-items-center d-flex">
      
            <a routerLink="/login" class="me-3  btn btn-light">Login</a>
      
            <a routerLink="/register" class=" btn btn-light" >Signup</a>
    </div>


</div>
<router-outlet>
       
</router-outlet>
<!-- </div> -->



