.tab{
    padding: 15px;
    /* background-color: white; */
    /* position: fixed; */
    margin-top: 5;
    margin-bottom:10;
    flex-direction: row;
    /* z-index: 100; */
    /* margin-right: 100   ; */
    justify-content: space-between;
    /* background-color: aliceblue; */
    /* font-family: 'Courier New', Courier, monospace;  */
    /* margin-bottom:auto; */
}

.title{
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
  

} 
.alignment{
    margin-right: 400px;
}
.align{
    margin-left: 520px;
}
/* .image{
    background-image: url('../../assets/bg3.avif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
} */
