<div class="d-flex">
    <div class="image">
        <h1 class="title">Famous Restaurant</h1>
    </div>
<div class="login">
<h2><span class="bi bi-person-fill"></span>User Login</h2>
<form >
    <dl>
        <dt>User Id</dt>
        <dd><input type="text"  class="form-control"/></dd>
        <dt>Password</dt>  
        <dd><input type="password" class="form-control"/></dd>
    </dl>
    <a routerLink="/menu" class="me-2  " style="background-color:blue;padding:10px  ;text-decoration: none;color:white;border-radius:10px; width:40px">Login</a>
    <!-- <button class="btn btn-primary me-2">Login</button> -->
    <a routerLink="/register">New User? Register</a>
    <!-- <h4 class="text-danger"></h4> -->
</form></div>
</div>