<form class="padding">
    <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Feedback Form </h1>
    <div class="d-flex ">
        <h3 class="me-2  justify-content-center align-items-center mt-3">Overall rating</h3>
        <select class="adjustment">
            <option>Excellent</option>
            <option>Good</option>
            <option>Average</option>
            <option>Not so great</option>
            <option>Need big improvement</option>
        </select>
    </div>
    <div class="mb-3 contact-email">
      <label for="InputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="InputEmail">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3 contact-">
      <label for="InputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="InputPassword">
    </div>
    <div class="mb-3">
        <label for="FormControlTextarea" class="form-label">Reviews</label>
        <textarea class="form-control" id="reviews" rows="5"></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>