<div class="container" id="menu">
    <h2>Our Menu Today</h2>
  
    <div class="d-flex ms-4">
        <div *ngFor="let item of menuObject.categories " style="width:400px;">
            
            <div>
                <dl>
                    <!-- <dt>Menu Image</dt> -->
                    <img class="image" [src]="item.strCategoryThumb" alt="Card image cap" width="100px"> 
                    <!-- <dt>CategoryDescription</dt> -->
                    <!-- <dd>{{item.strCategoryDescription}}</dd> -->
                </dl>
            </div>
        </div>
    </div>
    <hr/>
    <h2> Popular Dishes</h2>
    <div class="d-flex flex-wrap alignment">
        <div *ngFor="let item of menuObject.categories " class="card body me-2 mb-2" style="width:400px; height:300px;">
            
            <!-- <div class="card-header">
                <h3>{{item.strCategory}}</h3>
            </div> -->
            <div class="card-body ">
                <dl>
                    <!-- <dt>Menu Image</dt> -->
                    <img class="card-img-top" [src]="item.strCategoryThumb" alt="Card image cap" width="80px" height="200px"> 
                    <!-- <dt>CategoryDescription</dt> -->
                    <!-- <dd>{{item.strCategoryDescription}}</dd> -->
                    <div class="d-flex" style="margin-top: 80px; margin-left:10px;">
                    <h5 style="margin-right:190px">{{item.strCategory}}</h5>
                    <h5>Price:${{item.price}}</h5>
                   </div>
                    <button class="btn btn-primary" style="margin-top:100px;margin-left:140px" 
                  >Load more</button>
                </dl>
            </div>
        </div>
    </div>
</div>

