<div class="d-flex">
    <div class="image">
        <h1 class="title">Famous Restaurant</h1>
    </div>
<div class="register">
    <h2><span class="bi bi-person-fill"></span>User SignUp</h2>
    <form >
        <dl>
            <dt>UserName</dt>
            <dd><input type="text" class="form-control" /></dd>
            <dt>Email Id</dt>
            <dd><input type="text"  class="form-control"/></dd>
            <dt>Phone no</dt>
            <dd><input type="number"  class="form-control"/></dd>
            <dt>Password</dt>
            <dd><input type="password" class="form-control"/></dd>
        </dl>
        <button class="btn btn-primary me-2">Register</button>
        <br>
        <a routerLink="/login" >Already have an account? Login</a>
        <!-- <h4 class="text-danger"></h4> -->
    </form></div>