<div>
<div class="d-flex justify-content-center  align-items-center">
<ngb-carousel>
    <ng-template ngbSlide *ngFor="let slide of slides">
      <img [src]="slide.image" alt="slide" width="1500" height="400px">
    
       
    </ng-template>
</ngb-carousel>
</div>
<br>
<h1 style="text-align:center;">MENU TODAY</h1>
<div class="d-flex" style="margin-left: 300px;margin-top:100px">

    
    <div class=" scroll-container">
        
            <div class="scroll-content">
            <div *ngFor="let item of menuObject.categories " class="item">
                
                <div>
                    <dl>
                        <!-- <dt>Menu Image</dt> -->
                        <img style="margin-left: 10px;" (click)="getMenuDescription(item.idCategory)" class="image" [src]="item.strCategoryThumb" alt="Card image cap"height="100px" width="70px"> 
                        <h5  style="margin-left: 10px;" style="margin-top: 10px;">{{item.strCategory}}</h5>
                        <!-- <dt>CategoryDescription</dt> -->
                        <!-- <dd>{{item.strCategoryDescription}}</dd> -->
                    </dl>
                </div>
            </div>
        
        </div>

    </div>

    <div style="margin-bottom: 100px;">
        <div>
            <div class="border border-dark" style="margin-left: 90px;">
                <h1  style="margin-left: 250px;">MENU CARD</h1>
                <div class="d-flex" style="justify-content:space-between">
                    <h2>Menu Items</h2>
                    <h2>Prices</h2>
                </div>
            <div *ngFor="let item of menuObject.categories " class="item  ">
                
                <div>
                    <ul class="d-flex" style="margin-left: 50px;justify-content:space-between;" >
                        <!-- <dt>Menu Image</dt> -->
                        <div>
                        
                        <h5 class="title" style="margin-right: 500px;">{{item.strCategory}}</h5 >  
                        </div>
                        <div>
                       
                        <!-- <p>{{item.strCategoryDescription}}</p> -->
                        <h5 class="price">$ {{item.price}}</h5>
                        </div>
                        <!-- <dt>CategoryDescription</dt> -->
                        <!-- <dd>{{item.strCategoryDescription}}</dd> -->
                    </ul>
                </div>
            </div>
          </div>
        </div>

    </div>
    <div>

    </div>

</div>
</div>